@font-face {
	font-family:"Caveat", cursive ;
	src: url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poetsen+One&display=swap");
} 
body { 
	background-color: rgb(73, 73, 73);
}
#background {
	background-color: rgb(29, 29, 29);
	width: 920px;
	position: fixed;
	align-self: center;
}
h1 {
	color: rgb(214,212,212);
	font-family:"Caveat", cursive ;
	align-self:"right";
	float:right;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;	
	font-size: 48px;
}
.scrollmenu {
	width: 100%;	
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}
.block {
	width: 100%;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
}
.image {
	margin: 5px;
	float: left;
}
.image img {
	height: 256px;   
/* 
display: inline-block;  
white-space: nowrap;
*/
}	
::-webkit-scrollbar { display: none }
